<div
  class="backdrop animate__animated"
  [ngClass]="isShowNavbar ? 'animate__fadeIn show' : 'animate__fadeOut'"
  (click)="showNavbar()"
></div>
<nav
  class="navbar-nav sidebar sidebar-dark accordion"
  [ngClass]="{ 'open': isShowNavbar }"
  id="accordionSidebar"
>
  <button
    type="button"
    class="navbar-toggler"
    [ngClass]="{ collapsed: !isShowNavbar }"
    (click)="showNavbar()"
  >
    <div>
      <span></span>
    </div>
  </button>
  <div
    class="logo animate__animated"
    [ngClass]="isShowNavbar ? 'animate__fadeOut' : 'animate__fadeIn'"
  >
    <img src="assets/images/logo.png" class="img-fluid" />
  </div>

  <ul class="p-0">
    <a
      class="sidebar-brand d-flex align-items-center justify-content-center"
      [ngClass]="{ collapsed: isShowNavbar }"
      routerLink="/"
    >
      <img src="assets/images/logo.png" class="img-fluid p-4" />
    </a>

    <hr class="sidebar-divider" />

    <li class="nav-item" [ngClass]="{ active: url === 'challenge' }">
      <a class="nav-link" routerLink="/" (click)="showNavbar()">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>{{ "Challenge" | translate }}</span>
      </a>
    </li>

    <hr class="sidebar-divider" />

    <li class="nav-item" [ngClass]="{ active: url === 'investments' }">
      <a class="nav-link" routerLink="/investments" (click)="showNavbar()">
        <i class="fas fa-fw fa-chart-line"></i>
        <span>{{ "Investments" | translate }}</span>
      </a>
    </li>
  </ul>
</nav>
