<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0">{{ "Investments" | translate }}</h1>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-4">
        <div class="card-body">
          <ngx-datatable
            class="bootstrap"
            [rows]="investments"
            [columns]="columns"
            columnMode="force"
            [limit]="25"
            [loadingIndicator]="loading"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rowClass]="getRowClass"
            [scrollbarH]="true"
            [messages]="messages"

            (activate)="editInvestment($event)"
          >
            <ngx-datatable-column
              *ngFor="let col of columns"
              name="{{ col['prop'] }}"
              headerClass="animate__animated animate__fadeIn"
              cellClass="animate__animated animate__fadeIn"
            >
              <ng-template let-column="column" ngx-datatable-header-template>
                {{ column.name | translate }}
              </ng-template>

              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <ng-container [ngSwitch]="col['prop']">
                  <ng-container *ngSwitchDefault>
                    {{ value }}
                  </ng-container>

                  <ng-container *ngSwitchCase="'saldoTotal'">
                    {{ value | currency: "BRL" }}
                  </ng-container>
                </ng-container>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
