<div id="wrapper">

  <app-navigation></app-navigation>

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

      <app-toolbar></app-toolbar>

      <div class="position-relative w-100">
        <app-content></app-content>
      </div>

    </div>
  </div>
</div>
