<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">
  <ng-select
    class="flags"
    [items]="flags"
    [clearable]="false"
    bindLabel="lang"
    bindValue="lang"
    [closeOnSelect]="true"
    (change)="changeLanguage($event)"
    [(ngModel)]="selectedLang"
  >
    <ng-template ng-label-tmp let-item="item">
      <img height="30" [src]="'./assets/images/flags/' + item.lang + '.png'" />
    </ng-template>

    <ng-template ng-option-tmp let-item="item">
      <img height="30" [src]="'./assets/images/flags/' + item.lang + '.png'" />
    </ng-template>
  </ng-select>
</nav>
