:host {

  .modal-body {
    color: #000;
    font-size: 18px;
    padding: 40px 30px 30px;

    .close-button {
      display: flex;
      margin: 12px;
      position: absolute;
      top: 0;
      right: 0;

      .btn-close {
        background-size: 12px;
      }
    }

    .content-message {
      font-weight: 600;
    }

    .actions {
      button {
        margin: 20px 8px 0;
      }
    }
  }
}
