<div class="modal-body">
  <div class="close-button">
    <button
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="cancelClicked.next(true)"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>

  <div class="text-center">
    <div class="content-message" [innerHtml]="contentMessage"></div>
    <small *ngIf="subMessage" class="d-block mt-2" [innerHTML]="subMessage"></small>

    <div class="actions">
      <button
        *ngIf="cancelButtonLabel"
        class="btn"
        [ngClass]="'btn-outline-' + classType"
        (click)="cancelClicked.next(true)"
      >
        {{ cancelButtonLabel }}
      </button>

      <button
        *ngIf="confirmButtonLabel"
        type="button"
        class="btn text-white"
        [ngClass]="'btn-' + classType"
        (click)="confirmClicked.next(true)"
      >
        {{ confirmButtonLabel }}
      </button>
    </div>
  </div>
</div>
