<div class="container-fluid">
  <div class="d-lg-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-3 mb-lg-0">
      {{ "InvestmentData" | translate }}
    </h1>

    <div *ngIf="!loading" class="d-none d-lg-block text-end animate__animated animate__fadeIn">
      <ng-container *ngTemplateOutlet="buttons"></ng-container>
    </div>
  </div>

  <div *ngIf="loading" class="row">
    <div class="col-12 py-2">
      <div role="progressbar" class="progress-linear">
        <div class="container">
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!loading">
    <div class="row mb-2 animate__animated animate__fadeIn">
      <div class="col-lg-4 mb-2">
        <div class="card border-left-primary shadow h-100">
          <div class="card-body py-3">
            <div class="row no-gutters align-items-center">
              <div class="col me-2">
                <div class="text-xs fw-bold text-primary text-uppercase mb-1">
                  {{ "Name" | translate }}
                </div>
                <div class="h5 mb-0 fw-600">{{ investments?.nome }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-chart-line fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 mb-2">
        <div class="card border-left-warning shadow h-100">
          <div class="card-body py-3">
            <div class="row no-gutters align-items-center">
              <div class="col me-2">
                <div class="text-xs fw-bold text-warning text-uppercase mb-1">
                  {{ "Objective" | translate }}
                </div>
                <div class="h5 mb-0 fw-600">{{ investments?.objetivo }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-trophy fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 mb-2">
        <div class="card border-left-success shadow h-100">
          <div class="card-body py-3">
            <div class="row no-gutters align-items-center">
              <div class="col me-2">
                <div class="text-xs fw-bold text-success text-uppercase mb-1">
                  {{ "TotalBalance" | translate }}
                </div>
                <div class="h5 mb-0 fw-600">
                  {{ investments?.saldoTotal | currency: "BRL" }}
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row animate__animated animate__fadeIn">
      <div class="col-12">
        <div class="card shadow mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="card border-0 d-none d-md-block ps-1 mb-2 fw-600">
                  <div class="card-body py-0">
                    <div class="row">
                      <div class="col-md-4">{{ "Stocks" | translate }}</div>
                      <div class="col-md-4">
                        {{ "AccumulatedBalance" | translate }}
                      </div>
                      <div class="col-md-4">
                        {{ "AmountToRedeem" | translate }}
                      </div>
                    </div>
                  </div>
                </div>
                <form [formGroup]="form" autocomplete="false">
                  <div formArrayName="acoes">
                    <div
                      *ngFor="let item of acoes.controls; index as i"
                      class="card border-left-success mb-2 investments"
                    >
                      <div class="card-body py-2" [formGroupName]="i">
                        <div class="row align-items-center">
                          <div class="col-md-4">
                            <span class="d-md-none fw-600"
                              >{{ "Stocks" | translate }}:</span
                            >
                            {{ (investments?.acoes)![i].nome }}
                            <input formControlName="nome" type="hidden" />
                          </div>
                          <div class="col-md-4">
                            <span class="d-md-none fw-600"
                              >{{ "AccumulatedBalance" | translate }}:</span
                            >
                            {{
                              acoes.at(i).get("valor")!.value | currency: "BRL"
                            }}
                            <input formControlName="percentual" type="hidden" />
                            <input formControlName="valor" type="hidden" />
                          </div>
                          <div class="col-md-4">
                            <span class="d-md-none fw-600"
                              >{{ "AmountToRedeem" | translate }}:</span
                            >
                            <input
                              formControlName="resgate"
                              type="text"
                              class="form-control w-75"
                              placeholder="R$ 0,00"
                              [max]="acoes.at(i).get('valor')!.value"
                              currencyMask
                              [options]="{
                                prefix: 'R$ ',
                                thousands: '.',
                                decimal: ',',
                                min: 0
                              }"
                            />
                            <div
                              class="mt-1"
                              *ngIf="acoes.controls[i].get('resgate')!.errors"
                            >
                              <small
                                *ngIf="
                                  acoes.controls[i].get('resgate')!.errors![
                                    'max'
                                  ]
                                "
                                class="animate__animated animate__fadeIn text-danger"
                              >
                                {{ "AmountCantBeMore" | translate }}
                                {{
                                  acoes.at(i).get("valor")!.value
                                    | currency: "BRL"
                                }}
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="card border-0 ps-1">
                  <div class="card-body py-2 py-md-3">
                    <div class="row">
                      <div class="col-12">
                        <span class="fw-bold"
                          >{{ "TotalAmountOfTheRedeem" | translate }}:</span
                        >
                        <span
                          [ngClass]="{
                            'text-danger':
                              getTotalResgate() > investments?.saldoTotal!
                          }"
                          > {{ getTotalResgate() | currency: "BRL" }}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="text-end">
                  <ng-container *ngTemplateOutlet="buttons"></ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #buttons>
  <button
    type="button"
    class="btn btn-outline-success"
    (click)="goBack()"
  >
    {{ "Cancel" | translate }}
  </button>
  <button
    type="button"
    class="btn btn-success text-white ms-3"
    (click)="redeemInvestmen()"
  >
    {{ "ConfirmRedeem" | translate }}
  </button>
</ng-template>
