.sidebar {
  background-image: linear-gradient(
      to bottom,
      rgba(221, 223, 235, 0.95) 20%,
      rgba(58, 59, 69, 0.8) 100%
    ),
    url(/assets/images/bg-menu.jpg);
  background-size: cover;
  box-shadow: 0 0 0 rgba(0, 0, 0, .5);
  min-height: 100vh;
  position: absolute;
  left: -14rem;
  width: $sidebar-base-width;
  z-index: 1;
  transition: ease 0.3s;

  &.open {
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
    left: 0;

    .logo {
      animation-duration: 0.05s;
    }
  }

  .navbar-toggler {
    background: transparent;
    border: 0;
    color: $white;
    font-family: $font-family-base;
    font-size: 1.25rem;
    line-height: 1;
    padding: 0.75rem;
    position: fixed;
    left: 10px;
    top: 20px;

    &:focus {
      box-shadow: none;
      outline: none;
    }

    div {
      display: flex;
      flex-direction: column;
      width: 23px;

      span {
        display: block;
        border-top: 2px solid transparent;
        margin: 6px 0;
        transition: ease 0.3s;
      }

      &::before,
      &::after {
        content: "";
        border-bottom: 2px solid $gray-900;
        width: 23px;
        transition: ease 0.3s;
      }

      &::before {
        margin-bottom: -8px;
        transform: rotate(45deg);
      }

      &::after {
        margin-top: -8px;
        transform: rotate(-45deg);
      }
    }

    &.collapsed {
      top: 12px;

      div {
        span {
          display: block;
          border-top: 2px solid $gray-900;
          margin: 6px 0;
        }

        &::before {
          margin-bottom: 0;
          transform: rotate(0);
        }

        &::after {
          margin-top: 0;
          transform: rotate(0);
        }
      }
    }
  }

  .logo {
    display: inline-flex;
    animation-duration: 0.3s;
    height: 44px;
    width: 46px;
    position: fixed;
    left: 62px;
    top: 13px;

    img {
      object-fit: cover;
      object-position: 0;
    }
  }

  .nav-item {
    position: relative;

    &:last-child {
      margin-bottom: 1rem;
    }

    .nav-link {
      text-align: center;
      padding: 0.75rem 1rem;
      width: $sidebar-base-width;

      span {
        font-size: 0.65rem;
        display: block;
      }
    }

    &.active {
      .nav-link {
        font-weight: 600;
      }
    }
  }

  .sidebar-brand {
    height: $topbar-base-height;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    z-index: 1;

    &.collapsed {

      @include media-breakpoint-down(md) {
        padding: 1.5rem 0rem 1.5rem 2rem;
      }
    }

    .sidebar-brand-icon i {
      font-size: 2rem;
    }

    .sidebar-brand-text {
      display: none;
    }
  }

  hr.sidebar-divider {
    border-color: #555;
    margin: 0 1rem;
  }

  .sidebar-heading {
    text-align: center;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 0.65rem;
    @extend .text-uppercase;
  }
}

.sidebar {
  width: $sidebar-base-width !important;

  .nav-item {

    .collapse {
      position: relative;
      left: 0;
      z-index: 1;
      top: 0;
      animation: none;

      .collapse-inner {
        border-radius: 0;
        box-shadow: none;
      }
    }

    .collapsing {
      display: block;
      transition: $transition-collapse;
    }

    .collapse,
    .collapsing {
      margin: 0 1rem;
    }

    .nav-link {
      display: flex;
      align-items: center;
      font-weight: 600;
      padding: 1rem;
      text-align: left;
      width: 100%;

      i {
        font-size: 1rem;
        margin-right: 0.25rem;
      }

      span {
        font-size: 1rem;
        display: inline;
      }

      &[data-toggle="collapse"] {
        &::after {
          width: 1rem;
          text-align: center;
          float: right;
          vertical-align: 0;
          border: 0;
          font-weight: 900;
          content: "\f107";
          font-family: "Font Awesome 5 Free";
        }

        &.collapsed::after {
          content: "\f105";
        }
      }
    }
  }

  .sidebar-brand {
    .sidebar-brand-icon i {
      font-size: 2rem;
    }

    .sidebar-brand-text {
      display: inline;
    }
  }

  .sidebar-heading {
    text-align: left;
  }

  &.toggled {
    overflow: visible;
    width: $sidebar-collapsed-width !important;

    .nav-item {

      .collapse {
        position: absolute;
        left: calc(#{$sidebar-collapsed-width} + #{$grid-gutter-width} / 2);
        z-index: 1;
        top: 2px;

        animation-name: growIn;
        animation-duration: 200ms;
        animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1),
          opacity cubic-bezier(0, 1, 0.4, 1);

        .collapse-inner {
          box-shadow: $box-shadow;
          border-radius: $border-radius;
        }
      }

      .collapsing {
        display: none;
        transition: none;
      }

      .collapse,
      .collapsing {
        margin: 0;
      }

      &:last-child {
        margin-bottom: 1rem;
      }

      .nav-link {
        text-align: center;
        padding: 0.75rem 1rem;
        width: $sidebar-collapsed-width;

        span {
          font-size: 0.65rem;
          display: block;
        }

        i {
          margin-right: 0;
        }

        &[data-toggle="collapse"]::after {
          display: none;
        }
      }
    }

    .sidebar-brand {
      .sidebar-brand-icon i {
        font-size: 2rem;
      }

      .sidebar-brand-text {
        display: none;
      }
    }

    .sidebar-heading {
      text-align: center;
    }
  }

  &.sidebar-dark {
    .sidebar-brand {
      color: $principal;
    }

    hr.sidebar-divider {
      border-top: 1px solid fade-out($principal, 0.85);
    }

    .sidebar-heading {
      color: fade-out($principal, 0.6);
    }

    .nav-item {
      .nav-link {
        color: fade-out($principal, 0.2);
        transition: ease 0.3s;

        i {
          color: fade-out($principal, 0.7);
          transition: ease 0.3s;
        }

        &:active,
        &:focus,
        &:hover {
          color: $principal;

          i {
            color: $principal;
          }
        }

        &[data-toggle="collapse"]::after {
          color: fade-out($principal, 0.5);
        }
      }

      &.active {
        .nav-link {
          color: $principal;

          i {
            color: $principal;
          }
        }
      }
    }

    #sidebarToggle {
      background-color: fade-out($black, 0.8);

      &::after {
        color: fade-out($black, 0.5);
      }

      &:hover {
        background-color: fade-out($black, 0.75);
      }
    }

    &.toggled {
      #sidebarToggle::after {
        color: fade-out($black, 0.5);
      }
    }
  }
}

.backdrop {
  animation-duration: 0.3s;
  background: rgba(255, 255, 255, .8);
  height: 100%;
  width: 100%;
  position: fixed;
  visibility: hidden;

  &.show {
    visibility: visible;
  }
}

@include media-breakpoint-up(md) {
  .sidebar {
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
    position: static;
    left: 0;
    transition: ease 0.3s;

    .navbar-toggler,
    .logo {
      display: none;
    }
  }

  .backdrop {

    &.show {
      visibility: hidden;
    }
  }
}
