<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Projeto de seleção Coopersystem (Angular 12+)</h1>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 fw-bold text-success">{{ "Challenge" | translate }}</h6>
        </div>
        <div class="card-body">
          <p>O teste consiste em criar uma mini aplicação em angular 12+ que simula um resgate personalizado de fundos de investimentos em ações.</p>
          <p>Serão avaliados:</p>
          <ul>
            <li>Integração com api rest</li>
            <li>Navegação entre telas</li>
            <li>Validação de formulários conforme regras de negócios</li>
            <li>Padrões de codificação</li>
            <li>Testes unitários com karma/jasmine (Pode enviar o desafio sem os testes, e realizar um commit com os testes posteriormente)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
