.card {

  &.investments {
    background: #f2f2f2;
    transition: ease 0.3s;

    &:hover {
      background: lighten($green, 50%);
    }
  }

  .card-body {
    color: $black;

    @media screen and (min-width: 600px) {
      padding: 30px 25px;
    }

    .sub-title {
      font-weight: 600;
    }
  }
}
