html {
  position: relative;
  min-height: 100%;
}

body,
app-root,
app-main {
  color: $black;
  height: 100vh;
  line-height: 1.2;
  overflow: hidden;
}

body,
div,
textarea,
.datatable-body {
  @media screen and (min-width: 600px) {
    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }

    &::-webkit-scrollbar:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }

    &::-webkit-scrollbar-thumb {
      border: 2px solid transparent;
      box-shadow: inset 0 0 0 24px rgba(100, 100, 100, 0.8);
      border-radius: 24px;
    }

    &::-webkit-scrollbar-thumb:active {
      box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.54);
      border-radius: 24px;
    }

    resize: none;
  }
}

a {
  &:focus {
    outline: none;
  }
}

#wrapper {
  display: flex;
  height: 100%;

  #content-wrapper {
    background-color: $gray-100;
    height: 100%;
    width: 100%;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      padding-left: 10px;
    }

    #content {
      height: 100%;
      overflow: hidden;

      > div {
        height: calc(100% - 96px);
        overflow: auto;
      }
    }
  }

  app-navigation {
    z-index: 1;
  }
}

.form-control {
  box-shadow: none;
  color: $black;

  &:focus, &active {
    box-shadow: none;
    color: $black;
  }

  &.ng-invalid.ng-touched {
    border-color: $danger;
  }

  &:disabled, &[readonly] {
    background-color: $white;
  }
}

.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: $white;
  background: fade-out($gray-800, 0.5);
  line-height: 46px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}
