@import "~@ng-select/ng-select/themes/default.theme.css";


.ng-select {

  &.ng-invalid.ng-touched {

    .ng-select-container {
      border-color: $danger;
    }
  }

  &.ng-select-focused {

    &:not(.ng-select-opened) {

      > .ng-select-container {
        box-shadow: none;
      }
    }
  }

  .ng-dropdown-panel {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
  }
}
