@import "~@swimlane/ngx-datatable/index";
@import "~@swimlane/ngx-datatable/themes/bootstrap";
@import "~@swimlane/ngx-datatable/assets/icons";

/**
 * Progress bar animations
 */
@keyframes query {
  0% {
    opacity: 1;
    transform: translateX(35%) scale(0.3, 1);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%) scale(0, 1);
  }
}

.ngx-datatable {
  &.bootstrap {
    font-size: 1rem;

    .datatable-header {
      font-weight: 600;
      border-left: 4px solid transparent;

      .datatable-header-cell {
        border-bottom: 0;
      }
    }

    .datatable-body {

      .datatable-row-wrapper {
        border-radius: 0.35rem;
        margin-bottom: 0.5rem;
        overflow: hidden;
        transition: ease 0.3s;

        .datatable-body-row {
          background: #f2f2f2;
          border-top: 0;
          cursor: pointer;
          min-height: 54px;
          position: relative;
          transition: ease 0.3s;

          &::before {
            content: "";
            display: inline-block;
            background: $green;
            width: 4px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
          }

          &.active {
            color: #000;
          }

          &.indicadorCarencia {
            background: lighten($red, 40%);
            color: #ccc;

            &::before {
              background: lighten($red, 25%);
              color: #000;
            }
          }

          .datatable-body-cell,
          .datatable-header-cell {
            display: inline-flex;
            align-items: center;
            line-height: 1.2;
          }
        }

        &:hover {

          .datatable-body-row {
            background: lighten($green, 50%);

            &.indicadorCarencia {
              background: lighten($red, 35%);
              color: #000;

              &::before {
                background: lighten($red, 10%);
              }
            }
          }
        }
      }

      .datatable-scroll {
        width: 100% !important;
      }
    }

    .datatable-footer {
      background: transparent;
      color: #999;

      .datatable-pager {

        ul {

          li {

            a {
              background-color: #f2f2f2;
              color: #666;
              font-weight: 400;
              transition: ease 0.3s;
            }

            &:not(.disabled) {

              &.active,
              &:hover {

                a {
                  background-color: $principal;
                  color: $white;
                  font-weight: 400;
                }
              }
            }

            &.disabled {

              a {
                color: #ddd;
              }
            }
          }
        }
      }

      .page-count {
        padding-left: calc(0.75rem + 4px);
      }
    }
  }
}
