@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

.theme-default {

	.bs-datepicker-container {
		padding: 0;

		.bs-datepicker-head {
			background-color: transparent;
			font-size: 13px;

			button {
				color: $gray-500;
				text-transform: uppercase;

				&:hover {
					background-color: transparent;
				}

				&.next,
				&.previous {
					color: $green;
				}
			}
		}

		.bs-datepicker-body {
			border: none;

			table {

				thead {

					tr {

						th {
							border-bottom: 1px solid #ccc;
							color: #ccc;
							font-size: 12px;
							padding: 0 0 8px;

							&:first-child {
								display: none;
							}
						}
					}
				}

				td {

					span {
						color: rgba(0, 0, 0, 0.87);

						&.disabled, &.is-other-month {
							color: #ccc;
						}

						&.selected {
							background: $green;
							box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.87);
							color: #fff;
							border: 1px solid transparent;
						}

						&.is-highlighted:not(.disabled):not(.selected) {
							background: lighten($green, 20);
              color: $white;
						}
					}

					&.week {
						display: none;
					}

					&.is-highlighted:not(.disabled):not(.selected) {

						span {
							background: lighten($green, 20);
              color: $white;
						}
					}
				}

				&.days span {
					width: 40px;
					height: 40px;
					line-height: 40px;

					&.selected {
						width: 39px;
						height: 39px;
						line-height: 39px;
					}

					&.today {
						border: 1px solid $green;
					}
				}
			}
		}
	}
}
