modal-container.modal {

  .modal-dialog {

    .modal-content {
      border: none;
      border-radius: 6px;
      box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12);
    }
  }
}
