.progress-linear {
  display: block;
  position: sticky;
  width: 100%;
  height: 4px;
  padding: 0;
  margin: 0;
  top: 0;

  .container {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 5px;
    transform: translate(0, 0) scale(1, 1);
    background-color: lighten($green, 60%);

    .bar {
      transition: all 0.2s linear;
      animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
      transition: transform 0.2s linear;
      background-color: lighten($green, 20%);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
    }
  }
}
